<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Madlibs Home</title>
</head>
<body>
    <h1>Madlibs</h1>
    <form action="">
        <label for="place">place:
            <input type="text" placeholder="enter a place" name="place">
        </label> <br>
        <label for="noun">noun:
            <input type="text" placeholder="enter a noun" name="noun">
        </label> <br>
        <label for="verb">verb:
            <input type="text" placeholder="enter a verb" name="verb">
        </label> <br>
        <label for="adjective">adjective:
            <input type="text" placeholder="enter an adjective" name="adjective">
        </label> <br>
        <label for="plural_noun">plural noun:
            <input type="text" placeholder="enter a plural noun" name="plural_noun">
        </label> <br>
        <button>Submit</button>
    </form>

</body>
</html>